# Big Data Analysis (3803ICT_3251/3030ICT_3251) in week 1

## Course structure
- 10 lectures (2 hours each)
- 10 practical lab sessions (2 hours each)

## Assessment
- 10 weekly workshops are graded: 20% (2% each). Each one has 1 week to complete (due to next-week Sunday 23:59)
- 1 Assignment: 35%, due Sunday, week 11 (23:59). Group submission (2 persons/group). Similar content to the labs
- 1 final exam: 45%. 2 hours examination

## Time and location
- The lecture is: Mon 8:00 – 9:50 with location: online.
- The workshop varies: 
    - 3803ICT: GC campus: Mon 11AM-12:50AM or 2PM - 3:50PM at G23_2.27. Online: Mon 2PM – 3:50PM
    - 3030ICT: GC campus: Mon 4PM - 5:50PM G31_3.14 or Tues 14:00AM – 15:50PM G23_2.22. NA campus: Mon 2PM-3:50PM at N79_4.10. Online: Mon 2PM - 3:50PM

## Data Science, Applications, and Tools
**Data Science**. Data Science is an interdisciplinary field that combines statistics, mathematics, computer science, and domain expertise to extract meaningful insights from structured and unstructured data. It involves various stages, including data collection, preprocessing, analysis, visualization, and interpretation. The goal of data science is to uncover patterns, trends, and correlations that can drive decision-making and automation.

**Applications**. Data Science is widely used across industries to solve real-world problems. Some key applications include:
- Business & Finance: Fraud detection, customer segmentation, risk assessment, stock market prediction.
- Healthcare: Disease prediction, medical image analysis, personalized medicine.
- Technology & AI: Natural Language Processing (NLP), speech recognition, image recognition.
- Environmental & Sustainability: Climate modeling, energy optimization, disaster response.

**Tools**. Data Science relies on a variety of tools and technologies to process and analyze data. Some popular tools include:
- Programming Languages: Python (NumPy, Pandas, Scikit-learn, TensorFlow, PyTorch), R (ggplot2, dplyr, caret), SQL (PostgreSQL, MySQL)
- Data Processing & Storage. Hadoop, Spark for big data processing. SQL & NoSQL databases (MongoDB, PostgreSQL)
- Data Visualization. Matplotlib, Seaborn (Python). Tableau, Power BI
- Machine Learning & AI. Scikit-learn, TensorFlow, PyTorch. XGBoost, LightGBM for gradient boosting
- Cloud & Deployment. AWS, Google Cloud, Microsoft Azure. Docker, Kubernetes for model deployment

## TODO
- Install python
- Install Anaconda
- Install Jupyter Notebook

## Python Basics
numpy, scipy, pandas, scikit learn, ...

## Pandas 
Pandas is a powerful open-source Python library used for data manipulation and analysis. It provides data structures and functions needed to efficiently manipulate large datasets.

### Pandas series

In [1]:
import pandas as pd

# Creating a more realistic Pandas Series example
sales_data = {
    'January': 5000,
    'February': 7000,
    'March': 6500,
    'April': 8000,
    'May': 7200
}

# Creating the Series
sales_series = pd.Series(sales_data, name="Monthly Sales")

# print the Series
print(sales_series)

January     5000
February    7000
March       6500
April       8000
May         7200
Name: Monthly Sales, dtype: int64

### dataframe

In [2]:
sales_df = pd.DataFrame({
    'Month': ['January', 'February', 'March', 'April', 'May'],
    'Sales': [5000, 7000, 6500, 8000, 7200],
    'Expenses': [3000, 4000, 3200, 4500, 3800],  # Added expenses column
    'Profit': [2000, 3000, 3300, 3500, 3400]  # Calculated profit
})

# print the DataFrame
print(sales_df)

      Month  Sales  Expenses  Profit
0   January   5000      3000    2000
1  February   7000      4000    3000
2     March   6500      3200    3300
3     April   8000      4500    3500
4       May   7200      3800    3400

### groupby

In [3]:
# Creating a DataFrame with multiple entries per month to demonstrate the effectiveness of groupby
sales_data_expanded = pd.DataFrame({
    'Month': ['January', 'January', 'February', 'February', 'March', 'March', 'April', 'April', 'May', 'May'],
    'Sales': [5000, 5200, 7000, 7500, 6500, 6700, 8000, 8200, 7200, 7300],
    'Expenses': [3000, 3100, 4000, 4200, 3200, 3300, 4500, 4700, 3800, 3900],
    'Profit': [2000, 2100, 3000, 3300, 3300, 3400, 3500, 3500, 3400, 3400]
})

# Grouping by 'Month' and summing up the values
grouped_sales_expanded_df = sales_data_expanded.groupby('Month').sum()

# print the grouped DataFrame
print(grouped_sales_expanded_df)

          Sales  Expenses  Profit
Month
April     16200      9200    7000
February  14500      8200    6300
January   10200      6100    4100
March     13200      6500    6700
May       14500      7700    6800

### data I/O

In [4]:
# Saving the expanded sales DataFrame to a CSV file
csv_filename = "../data/wk1_sales_data.csv"
sales_data_expanded.to_csv(csv_filename, index=False)

# One-liner to read the DataFrame from the saved CSV file
df_from_csv = pd.read_csv(csv_filename)

# print the DataFrame read from the CSV file
print(df_from_csv)

      Month  Sales  Expenses  Profit
0   January   5000      3000    2000
1   January   5200      3100    2100
2  February   7000      4000    3000
3  February   7500      4200    3300
4     March   6500      3200    3300
5     March   6700      3300    3400
6     April   8000      4500    3500
7     April   8200      4700    3500
8       May   7200      3800    3400
9       May   7300      3900    3400

In [5]:
# Saving the expanded sales DataFrame to a excel file
excel_filename = "../data/wk1_sales_data.xlsx"
sales_data_expanded.to_excel(excel_filename, index=False)

# One-liner to read the DataFrame from the saved excel file
df_from_excel = pd.read_excel(excel_filename)

# print the DataFrame read from the excel file
print(df_from_excel)

      Month  Sales  Expenses  Profit
0   January   5000      3000    2000
1   January   5200      3100    2100
2  February   7000      4000    3000
3  February   7500      4200    3300
4     March   6500      3200    3300
5     March   6700      3300    3400
6     April   8000      4500    3500
7     April   8200      4700    3500
8       May   7200      3800    3400
9       May   7300      3900    3400

In [7]:
# Saving the expanded sales DataFrame to an HTML file
html_filename = "../data/wk1_sales_data.html"
sales_data_expanded.to_html(html_filename, index=False)

# read the HTML file into a DataFrame
df_from_html = pd.read_html(html_filename)[0]

# print the DataFrame read from the HTML file
print(df_from_html)

      Month  Sales  Expenses  Profit
0   January   5000      3000    2000
1   January   5200      3100    2100
2  February   7000      4000    3000
3  February   7500      4200    3300
4     March   6500      3200    3300
5     March   6700      3300    3400
6     April   8000      4500    3500
7     April   8200      4700    3500
8       May   7200      3800    3400
9       May   7300      3900    3400

## Data cleaning
(also known as data cleansing or data scrubbing) is the process of identifying, correcting, or removing errors, inconsistencies, and inaccuracies in a dataset. It ensures that data is accurate, complete, and ready for analysis.

### Why is data cleaning important?
- Improves Data Quality – Ensures reliable and accurate insights.
- Reduces Errors – Prevents incorrect conclusions due to faulty data.
- Enhances Model Performance – Essential for machine learning and statistical analysis.
- Ensures Consistency – Standardizes data formats and structures.
- Removes Redundancies – Eliminates duplicate or irrelevant data.

In [15]:
import pandas as pd

# Creating a raw dataset with various data quality issues
raw_data = {
    'Name': ['Alice ', 'BOB', 'Charlie', 'Alice', 'BOB', 'David', None], # the first Alice has a trailing space
    'Age': ['25', 'thirty', '35', '26', None, '40', '29'],
    'City': ['New York', 'Los angeles', 'CHICAGO ', ' New York', 'los angeles', 'San Francisco', 'Chicago'], # the first chicago has a trailing space
    'Salary': [50000, 60000, 70000, None, 62000, 80000, 75000]
}

# Converting raw data into a Pandas DataFrame
df = pd.DataFrame(raw_data)
df_origin = df.copy()

# Displaying the raw data before cleaning
print("Raw Data:")
print(df, "\n")

# Data Cleaning Steps

# 1. Standardizing Text Format (Removing extra spaces and making text lowercase)
df['Name'] = df['Name'].str.strip().str.title()
df['City'] = df['City'].str.strip().str.title()

print(f"After standardizing text format:\n{df}\n")

Raw Data:
      Name     Age           City   Salary
0   Alice       25       New York  50000.0
1      BOB  thirty    Los angeles  60000.0
2  Charlie      35       CHICAGO   70000.0
3    Alice      26       New York      NaN
4      BOB    None    los angeles  62000.0
5    David      40  San Francisco  80000.0
6     None      29        Chicago  75000.0

After standardizing text format:
      Name     Age           City   Salary
0    Alice      25       New York  50000.0
1      Bob  thirty    Los Angeles  60000.0
2  Charlie      35        Chicago  70000.0
3    Alice      26       New York      NaN
4      Bob    None    Los Angeles  62000.0
5    David      40  San Francisco  80000.0
6     None      29        Chicago  75000.0

In [17]:
# 2. Handling Missing Values
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')  # Convert age to numeric, setting errors as NaN
# Replace missing salary with mean salary
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())  
df.dropna(subset=['Name'], inplace=True)  # Remove rows where Name is missing

print(f"Before handling missing values:\n{df_origin}\n")
print(f"After handling missing values:\n{df}\n")

Before handling missing values:
      Name     Age           City   Salary
0   Alice       25       New York  50000.0
1      BOB  thirty    Los angeles  60000.0
2  Charlie      35       CHICAGO   70000.0
3    Alice      26       New York      NaN
4      BOB    None    los angeles  62000.0
5    David      40  San Francisco  80000.0
6     None      29        Chicago  75000.0

After handling missing values:
      Name   Age           City   Salary
0    Alice  25.0       New York  50000.0
1      Bob   NaN    Los Angeles  60000.0
2  Charlie  35.0        Chicago  70000.0
3    Alice  26.0       New York  66000.0
4      Bob   NaN    Los Angeles  62000.0
5    David  40.0  San Francisco  80000.0

In [19]:
# 3. Removing Duplicates
df = df.drop_duplicates()

print(f"Before removing duplicates:\n{df_origin}\n")
print(f"After removing duplicates:\n{df}\n")

Before removing duplicates:
      Name     Age           City   Salary
0   Alice       25       New York  50000.0
1      BOB  thirty    Los angeles  60000.0
2  Charlie      35       CHICAGO   70000.0
3    Alice      26       New York      NaN
4      BOB    None    los angeles  62000.0
5    David      40  San Francisco  80000.0
6     None      29        Chicago  75000.0

After removing duplicates:
      Name   Age           City   Salary
0    Alice  25.0       New York  50000.0
1      Bob   NaN    Los Angeles  60000.0
2  Charlie  35.0        Chicago  70000.0
3    Alice  26.0       New York  66000.0
4      Bob   NaN    Los Angeles  62000.0
5    David  40.0  San Francisco  80000.0