# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [1]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [2]:
df = pd.DataFrame(data)

In [3]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

** Now you can use the .groupby() method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:**

In [4]:
df.groupby('Company') # This is because groupby only stores how the DataFrame is grouped but doesnâ€™t materialize the data.

You can save this object as a new variable:

In [5]:
by_comp = df.groupby("Company")

In [6]:
for name, group in by_comp:
    print(f"Company: {name}")
    print(group)
    print("-" * 30)

Company: FB
  Company Person  Sales
4      FB   Carl    243
5      FB  Sarah    350
------------------------------
Company: GOOG
  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
------------------------------
Company: MSFT
  Company   Person  Sales
2    MSFT      Amy    340
3    MSFT  Vanessa    124
------------------------------

And then call aggregate methods off the object:

In [ ]:
by_comp.mean()

In [ ]:
df.groupby('Company').mean()

More examples of aggregate methods:

In [ ]:
by_comp.std()

In [ ]:
by_comp.min()

In [ ]:
by_comp.max()

In [ ]:
by_comp.count()

In [ ]:
by_comp.describe()

In [ ]:
by_comp.describe().transpose()

In [ ]:
by_comp.describe().transpose()['GOOG']

# Great Job!